<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="container-header">
        <div class="header-container">
            <div class="logo">Recomendador</div>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/main">Proyectos</a></li>
                    <li><a href="/equipos">Equipo</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="teams-section container bg-light p-4 mt-4 rounded">
            <h2 class="text-center">Equipos</h2>
            <ul class="list-group">
                <li class="list-group-item text-center">Gallegos Gomez, Jeferson German</li>
                <li class="list-group-item text-center">Galvan Carhuachin, Joan Manuel</li>
                <li class="list-group-item text-center">Lujan Bernaola, Geral Emilio</li>
                <li class="list-group-item text-center">Montes Triveño, Oscar</li>
                <li class="list-group-item text-center">Quispe Chinguel, Hayley David</li>
                <li class="list-group-item text-center">Tesillo Huamanga, Jackeline</li>
                <li class="list-group-item text-center">Yapias Calzada, James Lister</li>
                <li class="list-group-item text-center">Huari Huarocc, Carlos Alberto</li>
            </ul>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
